<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/index.js"></script>
  <title>Astronomy Picture of the Day</title>
</head>

<body>

  <!-- Navigation -->
  <nav>
    <div id="logo-container">
      <img id="logo" src="/images/NASA_logo.svg" alt="NASA_logo">
    </div>
    <div id="nav-items-container">
      <a href="" class="nav-item">NASA daily photo</a>
      <a href="" class="nav-item">About</a>
      <a href="" class="nav-item"><i class="fab fa-github"></i>Github</a>
    </div>
  </nav>

  <!-- Display today's photo -->
  <section id="main">
    <div id="main-media-container">
        <iframe src=""></iframe>
        <img src=""alt="">
    </div>
    <div id="main-info">
      <div id="main-title"></div>
      <div id="main-explanation"></div>
    </div>
  </section>

  <!-- Gallery of recent photos -->
  <section id="gallery-container">
    <h3>Recent photos</h3>
    <div id="gallery">
    </div>
  </section>

  <footer>
    <a class="nav-item" href=""><i class="fab fa-github"></i>Github</a>
  </footer>

</body>

</html>